@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-glass{
  @apply flex flex-1 items-center justify-center gap-2 rounded-2xl border border-white/20 bg-white/5 py-3 text-sm font-bold text-white transition-all hover:bg-white/10 hover:border-white/40 hover:scale-102 active:scale-95 shadow-[0_10px_40px_rgba(234,179,8,0.2)]
}
.btn-primary{
  @apply flex items-center gap-2 rounded-2xl bg-yellow-500 px-10 py-3 font-black text-black transition-all hover:scale-105 hover:bg-yellow-400 active:scale-95 shadow-[0_10px_40px_rgba(234,179,8,0.2)]
}
/* .btn-primary{
  @apply group flex items-center gap-2 rounded-2xl bg-yellow-500 px-10 py-3 font-black text-black transition-all hover:scale-105 hover:bg-yellow-400 active:scale-95 shadow-[0_10px_40px_rgba(234,179,8,0.2)]
} */